{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="gp_container">

  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
  <h4>Reset Password</h4>
  <p>A link to reset your password will be sent to the email address assocated with your account.</p>
      
  <div class="form-row">
      <div class="form-group col-md-2 mb-0">

          <p>{{ form.email|as_crispy_field }}</p> 
        </div>
</div>

    <input type="submit" class="btn btn-info left" value="Reset password">
  </form>
</div>
  {% endblock %}
