{% extends 'base_generic.html' %}

{% block content %}
<div class="gp_container">

{{ calendar }}
<script>
	function goToPlan(date) {
		window.location = "plan/("+date+")"
	}
	function goToDate(date) {
		window.location = "plan/none/("+date+")"
	}
	function get_prev(){
		window.location = "{% url 'calendar' %}?{{ prev_month }}"
	}
	function get_next(){
		window.location = "{% url 'calendar' %}?{{ next_month }}"
	}
  function get_meal(id){
	  window.location = "/meal/("+id+")"
  }
</script>
</div>
{% endblock %}
