{% extends "base_generic.html" %}

{% block content %}
<div class="gp_container">

<p> {{message}} </p>
<table class="meal_view">
<!-- Page Content -->
<tr><td><span class="fc-button fc-button-prev fc-state-default fc-corner-left" onclick="editMeal({{meal.id}})"> Edit Meal </span></td></tr>
<tr>
<td>
<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4">{{meal.name}}</h1>
  <table>
    <tr>
      <td>Protein Goal: {{meal.protein_goal}}g</td><td>Protein Actual: {{meal.protein}}g</td>
    </tr>
    <tr>
      <td>Carb Goal: {{meal.carb_goal}}g</td><td>Carb Actual: {{meal.carbs}}g</td>
    </tr>
    <tr>
      <td>Fat Goal: {{meal.fat_goal}}g</td><td>Fat Actual: {{meal.total_fat}}g</td>
    </tr>
  </table>


  <div class="row">
  {% for mealfood in mealfoods %}
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">{{ mealfood.food.name }}</a>
          </h4>
          <table>
            <tr>
              <td>
                <p class="card-text">Quantity: {{mealfood.quantity}}g</p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="card-text">Protein:{{mealfood.protein}}g </p>
              </td>
              <td>
                 <p class="card-text">Carb:{{mealfood.carbs}}g </p>
              </td>
              <td>
                <p class="card-text">Fat:{{mealfood.fat}}g </p>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- /.row -->
</td>
<td>
<section class="performance-facts">
  <header class="performance-facts__header">
    <h1 class="performance-facts__title">Nutrition Facts</h1>
    <h5 class="nutrition">{{meal.name}}</h5>
  </header>
  <table class="performance-facts__table">
    <thead>
      <tr>
        <th colspan="3" class="small-info">
          Amount Per Meal
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th colspan="2">
          <b>Calories</b>
          {{meal.calories}}
        </th>
        <td>
        </td>
      </tr>
      <tr class="thick-row">
        <td colspan="3" class="small-info">
          <b>% Daily Value*</b>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <b>Total Fat</b>
          {{meal.total_fat}}g
        </th>
        <td>
          <b>22%</b>
        </td>
      </tr>
      <tr>
        <td class="blank-cell">
        </td>
        <th>
          Saturated Fat
          {{meal.sat_fat}}g
        </th>
        <td>
          <b>22%</b>
        </td>
      </tr>
      <tr>
        <td class="blank-cell">
        </td>
        <th>
          Trans Fat
          {{meal.trans_fat}}g
        </th>
        <td>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <b>Cholesterol</b>
          {{meal.cholesterol}}mg
        </th>
        <td>
          <b>18%</b>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <b>Sodium</b>
          {{meal.sodium}}mg
        </th>
        <td>
          <b>2%</b>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <b>Total Carbohydrate</b>
          {{meal.carbs}}g
        </th>
        <td>
          <b>6%</b>
        </td>
      </tr>
      <tr>
        <td class="blank-cell">
        </td>
        <th>
          Dietary Fiber
          {{meal.fiber}}g
        </th>
        <td>
          <b>4%</b>
        </td>
      </tr>
      <tr>
        <td class="blank-cell">
        </td>
        <th>
          Sugars
          {{meal.sugars}}g
        </th>
        <td>
        </td>
      </tr>
      <tr class="thick-end">
        <th colspan="2">
          <b>Protein</b>
          {{meal.protein}}g
        </th>
        <td>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="performance-facts__table--grid">
    <tbody>
      <tr>
        <td colspan="2">
          Vitamin A
          10%
        </td>
        <td>
          Vitamin C
          0%
        </td>
      </tr>
      <tr class="thin-end">
        <td colspan="2">
          Calcium
          10%
        </td>
        <td>
          Iron
          6%
        </td>
      </tr>
    </tbody>
  </table>

  <p class="small-info">* Percent Daily Values are based on a 2,000 calorie diet. Your daily values may be higher or lower depending on your calorie needs:</p>

  <table class="performance-facts__table--small small-info">
    <thead>
      <tr>
        <td colspan="2"></td>
        <th>Calories:</th>
        <th>2,000</th>
        <th>2,500</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th colspan="2">Total Fat</th>
        <td>Less than</td>
        <td>65g</td>
        <td>80g</td>
      </tr>
      <tr>
        <td class="blank-cell"></td>
        <th>Saturated Fat</th>
        <td>Less than</td>
        <td>20g</td>
        <td>25g</td>
      </tr>
      <tr>
        <th colspan="2">Cholesterol</th>
        <td>Less than</td>
        <td>300mg</td>
        <td>300 mg</td>
      </tr>
      <tr>
        <th colspan="2">Sodium</th>
        <td>Less than</td>
        <td>2,400mg</td>
        <td>2,400mg</td>
      </tr>
      <tr>
        <th colspan="3">Total Carbohydrate</th>
        <td>300g</td>
        <td>375g</td>
      </tr>
      <tr>
        <td class="blank-cell"></td>
        <th colspan="2">Dietary Fiber</th>
        <td>25g</td>
        <td>30g</td>
      </tr>
    </tbody>
  </table>

  <p class="small-info">
    Calories per gram:
  </p>
  <p class="small-info text-center">
    Fat 9
    &bull;
    Carbohydrate 4
    &bull;
    Protein 4
  </p>

</section>
</td>
</tr>
</table>
<script>
	function editMeal(id) {
		window.location = "/meal/edit/("+id+")"
	}
</script>
</div>
{% endblock %}
