{% extends 'base_generic.html' %}

{% block content %}
<div class="gp_container">

    <table class="plan_none">
			<tr><td colspan="2"><span class="fc-button fc-button-prev fc-state-default fc-corner-left" href="{% url 'plan_edit' %}({{date}})"> Create Plan </span></td></tr>
			<br>
			<tr><td colspan="2"><p>or</p></td></tr>
			<br>
      <tr><td>
        <select name="plan" id="id_plan" required="">
          <option value="" selected="">---------</option>

          {% for plan in plans %}
          <option value="{{plan.id}}">{{plan.name}}</option>
          {% endfor %}

        </select>
				<td colspan="2"><span class="fc-button fc-button-prev fc-state-default fc-corner-left" onclick="copyPlan()"> Copy Plan </span></td>
			</td></tr>
    </table>
    <script>
      function copyPlan(){
        value=document.getElementById("id_plan").value
        if (value != ""){
    	  window.location = "/meal/plan/edit/({{date}})/("+value+")"
      }
      }
    </script>

</div>

{% endblock %}
