{% extends "base_generic.html" %}

{% block content %}
<p> {{message}} </p>
<h2>Plan</h2>

<div class="container">
	<div class="row">
        <div class="control-group" id="fields">
            <label class="control-label" for="field1"></label>
            <div class="controls">
                <form role="form" autocomplete="off" method='post'>
                  {% csrf_token %}
                  {% for field in form.get_other_fields %}
                    {% if field is not form.meal %}
                    <p>
                      {{ field.label_tag }}<br>
                      {{ field }}
                      {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                      {% endif %}
                      {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                      {% endfor %}
                    </p>
                    {% endif %}
                  {% endfor %}
                  {% for meal_field in form.get_meal_fields %}
                    <div class="entry input-group col-xs-3">
                      <p>
                      {{ meal_field.label_tag }}
                      {{ meal_field }}
                      {% if meal_field.help_text %}
                        <small style="color: grey">{{ meal_field.help_text }}</small>
                      {% endif %}
                      {% for error in meal_field.errors %}
                        <p style="color: red">{{ error }}</p>
                      {% endfor %}

                      {% if forloop.last %}
                    	<span class="input-group-btn">
                            <button id='save' class="btn btn-success btn-add" type="button">
                                <span class="fa fa-plus"></span>
                            </button>
                        </span>
                      {% endif %}
                      {% if forloop.last is not True %}
                        <span class="input-group-btn">
                              <button id='save' class="btn btn-danger btn-remove" type="button">
                                  <span class="fa fa-minus"></span>
                              </button>
                          </span>
                      {% endif %}
                    </div>
                    {% endfor %}
                    <br/>
                    <button class="btn btn-info left" type="submit">Save Plan</button>
                </form>
            <br>
            </div>
        </div>
	</div>
</div>
{% endblock %}

{% block js %}
<script>
  $(function()
{

    $(document).on('click', '.btn-add', function(e)
    {
        e.preventDefault();

        var controlForm = $('.controls form:first'),
            currentEntry = $(this).parents('.entry:first');
            newEntry = currentEntry.clone();
            name = newEntry.children('p').children('select').attr('name');
            n = parseInt(name.split('_')[1])+1;
            newEntry.children('p').children('select').prop('id','id_meal_'+n);
            newEntry.children('p').children('label').prop('for','id_meal_'+n)
            newEntry.children('p').children('select').prop('name', 'meal_'+n);
            newEntry.insertAfter('.entry:last');

        newEntry.find('input').val('');
        controlForm.find('.entry:not(:last) .btn-add')
            .removeClass('btn-add').addClass('btn-remove')
            .removeClass('btn-success').addClass('btn-danger')
            .html('<span class="fa fa-minus"></span>');


    }).on('click', '.btn-remove', function(e)
    {
		$(this).parents('.entry:first').remove();
		e.preventDefault();

		return false;
	});
});
</script>
{% endblock js %}
