{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<p>
    <h1>{{request.user.first_name }} {{user.last_name }}<br/></h1>

    <p><h3> {{ request.user.username }}</h3> </p>
<p>
    Birthdate: {{ user.profile.birthdate }} <br>
    Sex: {{ user.profile.sex }} <br/>
    Height: {{ user.profile.height }} inches<br/>
    Weight: {{ user.profile.weight }} pounds<br/>
    Activity Level: {{ request.user.profile.ACTIVITY_LEVEL.0.1}} <br/>
    Physical Goal: {{ request.user.profile.PHYSICAL_GOAL.1.1 }} <br/>

</p>

    <br/>

    <p><a href="{% url 'profile_edit' %}">Edit Profile</a><br/></p>
</p>
{% endblock %}
